{% extends 'base.html' %}
{% load static %}
{% block eachmeta %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.1/control_utils.css" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.1/camera_utils.js"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.1/control_utils.js"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils@0.2/drawing_utils.js"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose@0.2/pose.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
  <!-- WEBCAM INPUT -->
  <div class="display-none">
    <video class="input_video5"></video>
  </div>


  <!-- MEDIAPIPE OUTPUT -->
  <div class="container" style="margin-top: 20px;">
    <div style="padding:15px">
      <h2 class="pb-2 border-bottom">{{exercise_data.name_ko}}</h2>
      <h1 id="name_en">{{exercise_data.name_en}}</h1>
      <p>주요 근육 자극 부위 : {{exercise_data.part}}</p>
      <p>※카메라에 전신이 나오게 해주시고 자신의 {{exercise_data.dir}}모습을 보이도록 해주세요.※</p>
    </div>

    
      <div class="columns">
        <div class="column">
          <article class="panel is-info">
            <p class="panel-heading">
              Mediapipe Pose Detection
            </p>
            <div class="panel-block">
              <canvas class="output5" width="480px" height="480px"></canvas>
            </div>
          </article>
        </div>

        <div class="column">
          <article class="panel is-info">
            <p class="panel-heading">
              counting
            </p>
            <div id="counting" style="font-size:331px; text-align:center"></div>
          </article>
        </div>
      </div>
      <button id="reset" class="btn btn-primary" onclick="reset_click();">카운팅 초기화</button>
  </div>

  <div class="loading">
    <div class="spinner"></div>
  </div>
  <div style="visibility: hidden;" class="control5">
  </div>
{% endblock %}
{% block script %}
<script src="{% static 'mediapipe.js' %}"></script>
{% endblock %}