<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get" action='/screen' class="form" style="margin-left: 7%; margin-top: 5%;">
        <select name="health" id="health_id">
            <option value="none" selected hidden>운동 선택</option>
            <option value='pushup'>푸쉬업</option>
            <!-- <option value='squat'>스쿼트</option> -->
        <input type='submit' value="선택">
    </form>
    
</body>
</html>